<div class="flex justify-center my-5">
  <button class="bg-amber-300 p-5 rounded-3xl  text-xl active:bg-amber-400 hover:scale-110" (click)="setFullView(true)">Создать пост</button>
</div>

<div *ngIf="fullView">
  <div class="fixed inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen bg-black bg-opacity-70" (click)="setFullView(false)">
      <div class="bg-white p-8 rounded-lg shadow-md h-[80vh] w-[120vh] overflow-auto" (click)="$event.stopPropagation()">

        <h1>Создать пост</h1>

        <label for="title" class="text-lg">Название <br></label>
        <input id="title" type="text" placeholder="Название" [(ngModel)]="title" class="h-[30px] w-[50%] text-md mb-5">

        <hr class="border-amber-300 border-2 mt-2">

        <label for="text" class="text-lg"> <br> Текст <br></label>
        <textarea id="text" placeholder="Текст" cols="100" rows="25" [(ngModel)]="text" class="h-[100px] w-[50%] p-1 text-md mb-10"></textarea>

        <br>
        <hr class="border-amber-300 border-2 mt-2">

        <label for="files" class="text-lg"> <br> Добавить файлы <br></label>
        <input id="files" type="file" class="" (change)="onFileChange($event)" multiple>

        <hr class="border-amber-300 border-2 mt-4">
        <app-filter-course></app-filter-course>
        <hr class="border-amber-300 border-2 mt-2">
        <app-dropdown-search></app-dropdown-search>
        <hr class="border-amber-300 border-2 mt-2">
        <app-filter-sections></app-filter-sections>
        <hr class="border-amber-300 border-2 mt-2">

        <div class="flex justify-center my-5">
          <button class="bg-amber-300 p-5 rounded-3xl  text-xl active:bg-amber-400 hover:scale-110" (click)="sendPost()">Создать</button>
        </div>

      </div>
    </div>
  </div>
</div>
