<div class="w-[400px] mx-auto mt-24 border-amber-300 border-4 rounded-xl">
  <app-filter-course></app-filter-course>
  <hr class="border-amber-300 border-2">
  <app-dropdown-search></app-dropdown-search>
  <hr class="border-amber-300 border-2">
  <app-filter-sections></app-filter-sections>
  <hr class="border-amber-300 border-2">

<div class="flex justify-center my-5">
  <button class="bg-amber-300 p-5 rounded-3xl  text-xl active:bg-amber-400 hover:scale-110" (click)="send()">Применить</button>
</div>

</div>

<app-create-post></app-create-post>
<app-create-subject></app-create-subject>
