<div class="flex justify-center">
  <button class="bg-amber-300 p-3 text-sm rounded-3xl  text-xl active:bg-amber-400 hover:scale-110" (click)="setFullView(true)">Добавить комментарий</button>
</div>

<div *ngIf="fullView">
  <div class="fixed inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen bg-black bg-opacity-70" (click)="setFullView(false)">
      <div class="bg-white p-8 rounded-lg shadow-md h-[80vh] w-[120vh] overflow-auto" (click)="$event.stopPropagation()">

        <h1>Создать комментарий</h1>

        <h2>Анонимно?</h2>
        <div class="col-span-6 sm:col-span-3">
          <select class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">>
            <option *ngFor="let anon of anons" (click)="changeAnon(anon)">{{anon}}</option>
          </select>
        </div>

        <hr class="border-amber-300 border-2 my-5">

        <label for="text" class="text-lg">Текст <br></label>
        <input id="text" type="text" placeholder="Текст" [(ngModel)]="text" class="h-[30px] w-[50%] text-md mb-5">

        <hr class="border-amber-300 border-2 my-5">

        <label for="files" class="text-lg"> <br> Добавить файлы <br></label>
        <input id="files" type="file" class="" (change)="onFileChange($event)" multiple>

        <hr class="border-amber-300 border-2 my-5">

        <div class="flex justify-center my-5">
          <button class="bg-amber-300 p-5 rounded-3xl  text-xl active:bg-amber-400 hover:scale-110" (click)="sendComment()">Создать</button>
        </div>

      </div>
    </div>
  </div>
</div>
