<div>
  <div class="flex justify-between">
    <h2>Комментарии</h2>
    <app-create-news-comment [newsId]="newsId"></app-create-news-comment>
  </div>

  <div *ngFor="let comment of comments">
    <app-comment [comment]="comment"></app-comment>
  </div>

  <div class="flex flex-col items-center">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-400">
      Page <span
      class="font-semibold text-black">{{
        pageNumber + 1
      }}
    </span>
    </span>
    <!-- Buttons -->
    <div class="inline-flex mt-2 xs:mt-0">
      <button
        (click)="prevPage()"
        class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-amber-400 rounded-s hover:bg-amber-500 ">
        Prev
      </button>
      <button
        (click)="nextPage()"
        class="flex items-center justify-center px-4 h-10 text-base font-medium text-black bg-amber-400  border-0 border-s border-gray-700 rounded-e hover:bg-amber-500 ">
        Next
      </button>
    </div>

  </div>

</div>
